
<h3>{{ vm.title }}</h3>
<div class="alert alert-warning" role="alert" ng-if="vm.noItemsFound()">
  <strong>Nothing found!</strong>
</div>
<table class="table table-striped">
  <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Short Name</th>
        <th>Description</th>
        <th>Price Small</th>
        <th>Large Price</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="vm.listEmpty()">
        <td colspan="5">No items avaiable for table.</td>
      </tr>
      <tr ng-repeat="item in vm.items">
        <td><button class="btn btn-primary btn-sm" ng-click="vm.onRemove({index: $index});">Don't want this one!</button></td>
        <td>{{ item.name }}</td>
        <td>{{ item.short_name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price_small | currency : "$" }}</td>
        <td>{{ item.price_large | currency : "$" }}</td>
      </tr>
    </tbody>
</table>
